#jb-container {
    width: 940px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #bcbcbc;
}

#jb-header {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #bcbcbc;
}

#jb-content {
    width: 580px;
    padding: 20px;
    margin-bottom: 20px;
    float: left;
    border: 1px solid #bcbcbc;
}

#jb-sidebar {
    width: 260px;
    padding: 20px;
    margin-bottom: 20px;
    float: right;
    border: 1px solid #bcbcbc;
}

#jb-footer {
    clear: both;
    padding: 20px;
    border: 1px solid #bcbcbc;
}

@media ( max-width: 480px ) {
    #jb-container {
        width: auto;
    }

    #jb-content {
        float: none;
        width: auto;
    }

    #jb-sidebar {
        float: none;
        width: auto;
    }
}

.wrapper {
    width: 700px;
    height: 500px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    grid-template-rows:repeat(4, minmax(100px, auto));
}

.seven {
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: yellow;
}

.twelve {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 6;
    grid-column-end: 7;
    background-color: yellow;
}

.box {
    background-color: yellow;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-color {
    background: white;
}

.second-color {
    background: lightpink;
}

.third-color {
    background: lightcoral;
}

.fourth-color {
    background: #ef5a5a;
}

.playerWrapper{
    display: flex;
    
}