<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<b><strong>Purpose</strong></b>
<p>This project is aimed to provide Chelsea players’ touch area map and the relationship between their game performance (rating) and percentage/degree of their touch in the specific area since Thomas Tuchel became the manager of Chelsea FC
</p>

<b><strong>Data Collection Method</strong></b>
<p>1. Divided the field into 22 areas</p>
<p>2. Re-watched all Premier League and UEFA Champions League since Thomas Tuchel became the manager (2020/2021 PL R20 Wolverhampton ~ 2021/2022 entire season)</p>
<p>3. While re-watching, recorded which player touched the ball in what area (Categorical: players’ initial / Numerical: area number)</p>
<p>4. Transferred the gathered data to Google Spreadsheet to make the data as a format that can be implemented into coding
</p>

<b><strong>Creator</strong></b>
<p>(Kyle) Jaeho Shim, 12th-grade student at Korea International School Jeju</p>


<p>이승연 선생님</p>
</body>
</html>