<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'touchbox/style.css' %}">
    <title>Title</title>
</head>
<br>

<h1>{{ player_number }} & {{ player_name }} vs {{ opponent }}</h1>
<div>
    <div class="nextto"></div>
    <div class="nextto"></div>
    <div class="nextto"></div>
    <div class="nextto"></div>
    <div class="nextto"></div>
    <div class="nextto"></div>
    <br>
    <div class="bignextto"></div>
    <div class="middlenextto"></div>
    <div class="middlenextto"></div>
    <div class="middlenextto"></div>
    <div class="middlenextto"></div>

    <div class="bignextto"></div>
    <br>
    <div class="nextto"></div>
    <div class="nextto"></div>
    <div class="nextto"></div>
    <div class="nextto"></div>
    <div class="nextto"></div>
    <div class="nextto"></div>
    <br>
    <div class="box">
    </div>
</div>



{% block content %}
    <table>
        <thead>
        <th>Game</th>
        <th>Touches</th>
        </thead>
        {% for key, value in touchmap.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock content %}
</body>
</html>